version: '3.8'

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: booking
      POSTGRES_PASSWORD: booking123
      POSTGRES_DB: restaurant_booking
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management-alpine
    environment:
      RABBITMQ_DEFAULT_USER: booking
      RABBITMQ_DEFAULT_PASS: booking123
    ports:
      - "5672:5672"
      - "15672:15672"
  
volumes:
  postgres-data:
